*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* ------------------------------------------------ */
/* --------------- LAYOUT ------------------------- */
/* ------------------------------------------------ */
body 
{ 
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);
    margin: 50px;
}
/* ------------------------------------------------ */
/* --------------- LEFTSIDE-IMAGE ----------------- */
/* ------------------------------------------------ */
.container .leftSide {
    position: relative;
    background: #003147;
    padding: 40px;
}  
.profileText {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
.profileText .imgBox {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    border-style: double;
    border-color: whitesmoke;
}
.profileText .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* ------------------------------------------------ */
/* --------------- PROFILETEXT -------------------- */
/* ------------------------------------------------ */
.profileText h2{
    color: whitesmoke;
    font-size: 1.5rem;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}
.profileText h2 span {
    font-size: 0.8em;
    font-weight: 300;
}
/* ------------------------------------------------ */
/* --------------- CONTACTINFO -------------------- */
/* ------------------------------------------------ */
.contactInfo {
    padding-top: 40px;
}
.contactInfo .title {
    color: whitesmoke;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.contactInfo ul {
    position: relative;
}
.contactInfo ul li {
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}
.contactInfo ul li .icon{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #03a9f4;
}
.contactInfo ul li span {
    color: whitesmoke;
    font-weight: 300;
}
/* ------------------------------------------------ */
/* --------------- EDUCATION ---------------------- */
/* ------------------------------------------------ */
.contactInfo.education li { 
    margin-bottom: 15px;
}
.contactInfo.education h5 {
    color: #03a9f4;
    font-weight: 500;
}
.contactInfo.education h4:nth-child(2){
    color: #fff;
    font-weight: 500;
}
.contactInfo.education h4 {
    color: #fff;
    font-weight: 300;
}
/* ------------------------------------------------ */
/* --------------- LANGUAGES ---------------------- */
/* ------------------------------------------------ */
.contactInfo.language .percent {
    position: relative;
    width: 100%;
    height: 6px;
    background: #081921;
    display: block;
    margin-top: 5px;
}
.contactInfo.language .percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #03a9f4;
}
/* ------------------------------------------------ */
/* --------------- RIGHTSIDE-ABOUT ---------------- */
/* ------------------------------------------------ */
.container .rightSide {
    position: relative;
    background: #fff;
    padding: 40px;
}  
/* ------------------------------------------------ */
/* --------------- RIGHTSIDE-ABOUT_JOBS ----------- */
/* ------------------------------------------------ */
.about {
    margin-bottom: 50px;
}
.about:last-child {
    margin-bottom: 0;
}
.title2 {
    color: #003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
p {
 color: #333;   
}
.about .box {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}
.about .box .yearCompany {
    min-width: 150px;
}
.about .box .yearCompany h5 {
    text-transform: uppercase;
    color: #848c90;
    font-weight: 600;
}
.about .box .text h4 {
text-transform: uppercase;
color: #2a7da2;
font-size: 16px;
}
/* ------------------------------------------------ */
/* --------------- SKILLS ------------------------- */
/* ------------------------------------------------ */
.skills .box {
    position: relative;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
}
.skills .box h4 {
    text-transform: uppercase;
    color: #848c99;
    font-weight: 500;
}
.skills .box .percent {
  position: relative;  
  width: 100%;
  height: 10px;
  background: #f0f0f0;
}
.skills .box .percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #03a9f4;
}